@model int
@{
    ViewBag.Title = "Order Complete";
}

<h2>Order Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about order for some more tea or cake in our
    @Html.ActionLink("CafeO",
        "Index", "Product")
</p>